.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  background: linear-gradient(135deg, #0f172a, #1e293b);
  overflow: hidden;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  color: white;
}

/* Balls */
.ball {
  position: absolute;
  border-radius: 50%;
  opacity: 0.7;
  animation: float 10s infinite ease-in-out;
}

.ball1 {
  width: 80px;
  height: 80px;
  background: #f472b6;
  top: 20%;
  left: 10%;
  animation-duration: 12s;
}

.ball2 {
  width: 50px;
  height: 50px;
  background: #3b82f6;
  top: 40%;
  left: 70%;
  animation-duration: 10s;
}

.ball3 {
  width: 100px;
  height: 100px;
  background: #22d3ee;
  top: 70%;
  left: 20%;
  animation-duration: 15s;
}

.ball4 {
  width: 60px;
  height: 60px;
  background: #facc15;
  top: 80%;
  left: 80%;
  animation-duration: 18s;
}

@keyframes float {
  0% {
    transform: translateY(0px) translateX(0px);
  }

  50% {
    transform: translateY(-50px) translateX(30px);
  }

  100% {
    transform: translateY(0px) translateX(0px);
  }
}

/* Lines */
.line {
  position: absolute;
  width: 2px;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  animation: moveLine 6s linear infinite;
}

.line1 {
  left: 25%;
  animation-delay: 0s;
}

.line2 {
  left: 50%;
  animation-delay: 2s;
}

.line3 {
  left: 75%;
  animation-delay: 4s;
}

@keyframes moveLine {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(-100%);
  }
}

/* Center content */
.content {
  font-size: 4rem;
}

.welcome {
  font-family: "Libertinus Keyboard", system-ui;
  font-weight: 400;
  font-style: normal;
}

.name {
  position: relative;
  top: 5rem;
  font-family: "Meow Script", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 9rem;
}